.Header {
  display: flex;
  background-color: #ffffff7e;
  flex-direction: row;
  width: 100%;
  padding: 26px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  transition: background-color 0.3s, padding 0.3s;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 16px 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
}

.Header_logo {
  width: 60%;
}

.Header_links {
  width: 40%;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.Header__a {
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
}

.Header__buttonLanguage {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
}

.Header__button {
  padding: 8px 18px;
  background-color: var(--text-color);
  color: #fff !important;
  border-radius: 99px;
}

.Header__mobile {
  display: none;
}

.Header__DesarrolloAviso {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 300;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

@media (max-width: 1024px) {
  .Header {
    padding: 32px 50px;
  }
  .Header_logo {
    width: 40%;
  }
  .Header_links {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .Header_links {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(29, 28, 32, 0.93);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    flex-direction: column;
    top: 0;
    right: -101%;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    transition: 0.5s;
    z-index: 30;
  }

  .Header__a,
  .Header__buttonLanguage {
    color: #fff!important;
    font-size: 26px;
  }

  .Header__mobile {
    display: block;
  }

  .Header__span {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }

  .Header__menuM {
    width: 23px;
    z-index: 30;
  }

  .Header__mobile {
    width: 40%;
  }

  .Header__button {
    color: #fff;
    background-color: var(--black);
  }

  .Header_linksMobile {
    display: flex;
    transition-duration: 3s;
  }

  .Header_linksMobileAnimate {
    right: 0;
    transition: 0.5s;
  }
}
